<div class="page-container ">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight  ">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h2>Add Product </h2>
                    <ol class="breadcrumb">
                        <li> <a href="#/dashboard1">Home</a> </li>
                        <li> <a>Add Product </a> </li>
                        <li class="active"> <strong>Add Product</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content  text-center">
                <div class="col-lg-12">
                    <div class="col-lg-6" style="padding-top:10px">
                        <table class="table table-responsive">
                            <tr>
                                <td>Product Image</td>
                            </tr>
                            <tr>
                                <td><img src="images/productDetail/placeholders.jpg"></td>

                            </tr>
                            <tr>
                                <td><input class="form-control" type="file" name="" id="">
                                    <td><button type="button" ui-sref="" class="btn green btn-outline btn-md">Upload</button></td>

                            </tr>


                        </table>

                    </div>
                    <div class="col-lg-6" style="padding-top:10px">
                        <table class="table table-responsive">
                            <tr>
                                <td>Category</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control">
											<option value="">SELECT</option>
											<option value="">Free</option>
											<option value="">Pro</option>
											<option value="">Standard</option>
										</select>
                                </td>
                            </tr>
                            <tr>
                                <td>Product Description</td>
                                <td>:</td>
                                <td>
                                    <div class="note-editor  panel panel-default">
                                        <div>
                                            <div summernote class="summernote" ng-model="main.summernoteText">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>:</td>
                                <td><input class="form-control" type="text" value="" placeholder="Enter Amount in USD($)"></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control">
											<option value="">SELECT</option>
											<option value="">Active</option>
											<option value="">Inactive</option>
										</select>
                                </td>
                            </tr>
                            <tr>
                                <td>Validity</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control">
											<option value="">SELECT</option>
											<option value="">15 Days</option>
											<option value="">1 Month</option>
											<option value="">2 Months</option>
											<option value="">3 Months</option>
										</select>
                                </td>
                            </tr>

                        </table>

                    </div>

                </div>

                <button type="button" ui-sref="" class="btn green btn-outline btn-md">Add Product</button>

            </div>
        </div>
    </div>
</div>