<!--*************************************** START OF USER VIEW **********************************************-->
<div class="page-container" ng-if="accessLevel=='User'">
	<!-- Start page content wrapper -->
	<div class="page-content-wrapper animated fadeInRight">
		<div class="page-content">
			<div class="row wrapper border-bottom page-heading">
				<div class="col-lg-12">
					<h2> Cad Details</h2>
					<ol class="breadcrumb">
						<li> <a href="#/dashboard1">Home</a> </li>
						<li> <a> Cad Details </a> </li>
						<li class="active"> <strong>Cad Details</strong> </li>
					</ol>
				</div>
			</div>
			<div class="wrapper-content  text-center">
				<div class="col-lg-12">
					<div class="col-lg-3" style="padding-top:80px">
						<table class="table table-responsive">
							<tr>
								<td>Mission ID</td>
								<td>:</td>
								<td>{{cadLineDetails.mission.missionId}}</td>
							</tr>
							<tr>
								<td>Contours</td>
								<td>:</td>
								<td ng-if="cadLineDetails.contours==true">Yes</td>
								<td ng-if="cadLineDetails.contours==false">No</td>
							</tr>
							<tr>
								<td>Contour Density</td>
								<td>:</td>
								<td> {{cadLineDetails.contoursDensity}}</td>
							</tr>
							<tr>
								<td>Drafting Density </td>
								<td>:</td>
								<td> {{cadLineDetails.draftingDensity}}</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>:</td>
								<td>{{cadLineDetails.status}}</td>
							</tr>
							<tr>
								<td>CAD Request Amount </td>
								<td>:</td>
								<td> {{cadLineDetails.amount}}</td>
							</tr>
							<tr>
								<td>Payment Status </td>
								<td>:</td>
								<td> {{cadLineDetails.status}}</td>
							</tr>
							<tr>

						</table>
						<button type="submit" class="btn green btn-outline ">Download CAD File</button>

					</div>
					<div class="col-lg-8">
						<div class="img-map">
							<div id='map' class="map-box"></div>
							<!--<div class='calculation-box'>
								<p>Draw a polygon using the draw tools.</p>
								<div id='calculate' class='button button'>Calculate area</div>
								<div id='calculated-area'></div>
							</div>-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!--*************************************** END OF USER VIEW **********************************************-->
<!--*************************************** START OF ADMIN VIEW **********************************************-->

<div class="page-container " ng-if="accessLevel=='Admin'">
	<!-- Start page content wrapper -->
	<div class="page-content-wrapper animated fadeInRight  ">
		<div class="page-content">
			<div class="row wrapper border-bottom page-heading">
				<div class="col-lg-12">
					<h2> Cad Details</h2>
					<ol class="breadcrumb">
						<li> <a href="#/dashboard1">Home</a> </li>
						<li> <a> Cad Details </a> </li>
						<li class="active"> <strong>Cad Details</strong> </li>
					</ol>
				</div>
			</div>
			<div class="wrapper-content  text-center">
				<div class="col-lg-12">

					<div class="col-lg-4" style="padding-top:10px">
						<div class="ibox-content collapse in" id="demo6">
							<div class="demo-container" style="height:600px">
								<table class="table table-responsive">
									<tr>
										<td>Mission ID</td>
										<td>:</td>
										<td>{{cadLineDetails.mission.missionId}}</td>
									</tr>
									<tr>
										<td>Contours</td>
										<td>:</td>
										<td ng-if="cadLineDetails.contours==true">Yes</td>
										<td ng-if="cadLineDetails.contours==false">No</td>
									</tr>
									<tr>
										<td>Contour Density</td>
										<td>:</td>
										<td> {{cadLineDetails.contoursDensity}}</td>
									</tr>
									<tr>
										<td>Drafting Density </td>
										<td>:</td>
										<td> {{cadLineDetails.draftingDensity}}</td>
									</tr>
									<tr>
										<td>Status</td>
										<td>:</td>
										<td>{{cadLineDetails.status}}</td>
									</tr>
									<tr>
										<td>CAD Request Amount </td>
										<td>:</td>
										<td> {{cadLineDetails.amount}}</td>
									</tr>
									<tr>
										<td>Payment Status </td>
										<td>:</td>
										<td> {{cadLineDetails.userPaymentStatus}}</td>
									</tr>
									<tr>
										<td>Vendor Charge </td>
										<td>:</td>
										<td ng-if="cadLineDetails.vendorCharges"> {{cadLineDetails.vendorCharges}}</td>
										<td ng-if="!cadLineDetails.vendorCharges"> Pending</td>
									</tr>
									<tr>

										<td>
											Vendor Billing ID
										</td>
										<td>:</td>
										<td ng-if="cadLineDetails.vendor">{{cadLineDetails.vendor.name}}</td>
										<td ng-if="!cadLineDetails.vendor">
											<select class="cad-dropdown" ng-repeat="vedors in allVendorsForRequest" ng-model="formData.vendor">
                                            <option value="{{vedors._id}}">{{vedors.name}}</option>
                                        </select>
										</td>
									</tr>
									<tr>
										<td>Vendor Payment Status </td>
										<td>:</td>
										<td>
											<button type="submit" data-toggle="modal" data-target=".modal-n" class="btn green btn-outline btn-xs" ng-if="cadLineDetails.vendor"
											    ng-disabled="!cadLineDetails.vendorCharges">Pay Now</button>
											<button type="submit" data-toggle="modal" data-target="" class="btn green btn-outline btn-xs" ng-click="cadVendorUpdate(formData)"
											    ng-if="!cadLineDetails.vendor"> Sent Request</button>
										</td>
									</tr>

								</table>
								<!--ng-href="../importFormat/{{form.model}}.xlsx"  download-->
								<a class="btn green btn-outline" ng-click="downloadOrtho(cadLineDetails.cadFileFromVendor)">Download CAD File</a>
								<button type="button" class="btn green btn-outline " ng-click="uploadOpen();">
									Upload Final CAD File</button>

							</div>

						</div>

					</div>
					<div class="col-lg-8">
						<div class="img-map">
							<div id='map' class="map-box"></div>
							<!--<div class='calculation-box'>
								<p>Draw a polygon using the draw tools.</p>
								<div id='calculate' class='button button'>Calculate area</div>
								<div id='calculated-area'></div>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-n" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#36918b">

				<h4 class="modal-title" style="color:#fff">Pay to Vendor</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">

					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Payment Mode:</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="formData.paymentMode">
								<option value="">SELECT</option>
								<option value="Bank Transfer">Bank Transfer</option>
								<option value="Check">Check</option>
								<option value="Cash">Cash</option>
								<option value="Card">Card</option>
								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Amount:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Enter Amount" ng-model="formData.paidAmount">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Additional Info:</label>
						<div class="col-sm-6">
							<textarea class="form-control" ng-model="formData.additionalInfo"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-4">
							<button type="submit" class="btn green btn-outline pull-right" ng-click="vendorPay(formData)">Pay</button>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn green btn-outline" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>



<!--*************************************** END OF ADMIN VIEW **********************************************-->

<!--*************************************** START OF VENDOR VIEW **********************************************-->
<div class="page-container " ng-if="accessLevel=='Vendor'">
	<!-- Start page content wrapper -->
	<div class="page-content-wrapper animated fadeInRight  ">
		<div class="page-content">
			<div class="row wrapper border-bottom page-heading">
				<div class="col-lg-12">
					<h2> Cad Details</h2>
					<ol class="breadcrumb">
						<li> <a ui-sref="dashboard">Home</a> </li>
						<li class="active"> <strong>Cad Details</strong> </li>
					</ol>
				</div>
			</div>
			<div class="wrapper-content  text-center">
				<div class="col-lg-12">
					<div class="col-lg-4" style="padding-top:10px">
						<div class="ibox-content collapse in" id="demo6">
							<div class="demo-container" style="height:600px">
								<table class="table table-responsive">
									<tr>
										<td>Mission ID</td>
										<td>:</td>
										<td>{{cadForVendorData.mission.missionId}}</td>
									</tr>
									<tr>
										<td>Contours</td>
										<td>:</td>
										<td>{{cadForVendorData.contours}}</td>
									</tr>
									<tr>
										<td>Contour Density</td>
										<td>:</td>
										<td> {{cadForVendorData.contoursDensity}}</td>
									</tr>
									<tr>
										<td>Drafting Density </td>
										<td>:</td>
										<td> {{cadForVendorData.draftingDensity}}</td>
									</tr>
									<tr>
										<td>Status</td>
										<td>:</td>
										<td>{{cadForVendorData.status}}</td>
									</tr>
									<!--<tr>
									<td>CAD Request Amount </td>
									<td>:</td>
									<td> $12</td>
								</tr>-->

									<tr>
										<td>Vendor Charge </td>
										<td>:</td>
										<td>{{cadForVendorData.vendorCharges}} <button type="submit" ng-click="earningOpen();" class="btn green btn-md">Set Earning</button></td>
									</tr>
									<tr>
										<td>Payment Status </td>
										<td>:</td>
										<td>{{cadForVendorData.userPaymentStatus}}</td>
									</tr>
									<!--<tr>
									<td>Vendor Payment Status </td>
									<td>:</td>
									<td><button type="submit" data-toggle="modal" data-target=".modal-m" class="btn green btn-outline btn-xs">Pay Now</button></td>
								</tr>-->

								</table>
								<button type="submit" class="btn green btn-outline" ng-click="downloadOrtho(cadForVendorData.orthoFile.file)">Download Orthomosaic</button>
								<button type="button" class="btn green btn-outline " ng-click="uploadvendorOpen();">
									Upload Final CAD File</button>
							</div>
						</div>

					</div>
					<div class="col-lg-8">
						<div class="img-map">
							<div id='map' class="map-box"></div>
							<!--<div class='calculation-box'>
								<p>Draw a polygon using the draw tools.</p>
								<div id='calculate' class='button button'>Calculate area</div>
								<div id='calculated-area'></div>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- SET EARNING MODAL -->

<div class="modal fade modal-m" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#36918b">

				<h4 class="modal-title" style="color:#fff">CAD Request FORM</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">


					<div class="form-group">
						<label class="control-label col-sm-4" z for="pwd">Contours</label>
						<div class="col-sm-6">
							<select class="form-control" id="contours" ng-model="cadLineDetails.contours">
								<option value="">SELECT</option>
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Contour Density</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="cadLineDetails.contoursDensity">
								<option value="">SELECT</option>
								<option value="high">High</option>
								<option value="medium">Medium</option>
								<option value="low">Low</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Drafting Density</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="cadLineDetails.draftingDensity">
								<option value="">SELECT</option>
								<option value="high">High</option>
								<option value="medium">Medium</option>
								<option value="low">Low</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Acreage</label>
						<div class="col-sm-6">
							<input type="text" ng-model="cadLineDetails.acreage" class="form-control" id="pwd" placeholder="Enter Acreage" name="pwd">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Description</label>
						<div class="col-sm-8">
							<textarea class="input-large" ng-model="cadLineDetails.instruction" rows="5"></textarea>
						</div>
					</div>



					<div class="form-group">
						<div class="col-sm-offset-6 col-sm-6">
							<button type="button" ng-click="calculateAmount(cadLineDetails)" class="btn green">Calculate Cost</button>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Amount</label>
						<div class="col-sm-6">
							<input type="text" ng-model="cadLineDetails.amount" class="form-control" id="pwd" placeholder="Calculated Amount" name="pwd"
							    disabled>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-6 col-sm-4">
							<button type="button" ng-click="cadSave(cadLineDetails)" data-dismiss="modal" class="btn green btn-outline pull-right">Proceed to Pay</button>
						</div>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn green btn-outline" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<!--*************************************** END OF VENDOR VIEW **********************************************-->