<!--*************************************** START OF USER VIEW **********************************************-->

<div class="page-container" ng-if="accessLevel=='User'">
  <!-- Start page content wrapper -->

  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content">
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> ​CAD File Requests </h2>
          <ol class="breadcrumb">
            <li> <a ui-sref="dashboard">Home</a> </li>
            <li class="active"> <strong>​CAD File Requests</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <button class="btn green btn-block" ng-click="cadOpen();">Internal CAD Request</button>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="col-sm-3"></div>
            <div class="col-lg-6">
              <button class="btn green btn-block" data-toggle="modal" data-target=".modal-x">External CAD Request</button>
            </div>
          </div>
        </div>

        <div class="ibox float-e-margins">

          <div class="ibox-content collapse in">


            <div class="widgets-container">
              <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                  <div class="col-md-6"> <label>Show          <select name="DataTables_Table_2_length" ng-change="getAllItems(selectData)" ng-model="selectData" aria-controls="DataTables_Table_2" class="form-control input-sm">              <option value="10">10</option>              <option value="25">25</option>              <option value="50">50</option>              <option value="100">100</option>          </select> entries        </label>
                    <!--<div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 10 of 13 entries</div>-->
                  </div>
                  <div class="myButton" ngf-select="upload($file)">Upload on file select</div>

                  <div class="col-md-6">
                    <div class="pull-right"> <label>Search: <input type="text " ng-change="getAllItems(true) " placeholder="Search Here...
                        " ng-model="search.keyword " /></label>
                      <div class="dt-buttons btn-group"> <a class="btn btn-default buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>Copy</span>             </a>                        <a class="btn btn-default buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>CSV</span>             </a>                        <a class="btn btn-default buttons-excel buttons-html5" tabindex="0" ng-click=generateExcelforUser();
                          aria-controls="DataTables_Table_0"><span>Excel</span>             </a> <a class="btn btn-default buttons-pdf buttons-html5"
                          tabindex="0" aria-controls="DataTables_Table_0"><span>PDF</span>             </a> <a class="btn btn-default buttons-print"
                          tabindex="0" aria-controls="DataTables_Table_0"><span>Print</span>             </a> </div>
                    </div>
                  </div>
                </div>
              </div>

              </common-view>
              <div>
                <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                  <thead>
                    <tr>
                      <th>Cad ID</th>
                      <th>Acreage</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th>Date of Request</th>
                      <th>Completion Date</th>
                    </tr>
                  </thead>

                  <tbody>

                    <tr ng-repeat="cadfile in cadUserDetail">

                      <td>
                        <a ui-sref="cadfile-details ({cadId:cadfile._id})">{{cadfile.cadId}}</a>
                      </td>
                      <td><a ui-sref="cadfile-details ({cadId:cadfile._id})">{{cadfile.acreage}}</a></td>
                      <td>
                        <a ui-sref="cadfile-details({'cadId' : cadfile._id})">{{cadfile.instruction}}</a>
                        <!--<a ui-sref="cadfile-details ({cadId:cadfile._id})" ng-if="cadfile.contours==true">Yes</a>
                        <a ui-sref="cadfile-details ({cadId:cadfile._id})" ng-if="cadfile.contours==false">No</a>-->
                      </td>
                      <td>
                        <a ui-sref="cadfile-details ({cadId:cadfile._id})">{{cadfile.status}}</a>
                      </td>
                      <td>
                        <a ui-sref="cadfile-details ({cadId:cadfile._id})">{{cadfile.createdAt| date}}</a>
                      </td>
                      <td>
                        <a ui-sref="cadfile-details ({cadId:cadfile._id})">{{cadfile.completionDate| date}}</a>
                      </td>


                    </tr>
                  </tbody>
                </table>
                <div class="right-side">
                  <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <!--<div class="modal fade modal-m" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#36918b">

          <h4 class="modal-title" style="color:#fff">Internal CAD Request</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="#/mission_details" method="POST">

            <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Select Mission</label>
              <div class="col-sm-6">
                <select class="form-control" ng-repeat="mission in misssonInfo">
								<option value="">SELECT</option>
								<option value="">{{mission._id}}</option>
								
							</select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn green btn-outline pull-right" ui-sref="mission-details">SUBMIT</button>
              </div>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn green btn-outline" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>-->

  <div class="modal fade modal-x modal-z" tabindex="-1" role="dialog" style="background:rgba(255, 255, 255, 0.7)">
    <div class="modal-dialog " style="background:transparent">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#36918b">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff">×</span></button>-->
          <h4 class="modal-title" style="color:#fff">External CAD Request</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" name="cadfile">
            <div class="form-group" style="font-size:12px">
              <p class="col-md-12" for="email"><strong>If you have an Orthomosaic created elsewhere and not with us, and you wish to request a CAD file of it, you will have to first upload it here for us to process your request.</strong></p>

            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="email">Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter Name" ng-model=data.cadLineName required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Date</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" value="{{date | date:'yyyy-MM-dd'}}" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Upload Orthomosaic</label>
              <div class="col-sm-6">
                <!--<upload-image multiple="true" required ng-model="data.orthoFile"></upload-image>-->
                <!--<upload-image-files ng-model="data.orthoFile" no-view multiple ng-disabled="type.disabled" required></upload-image-files>-->
                <div class="btn-primary btn-sm" ng-model="data.orthoFile" ngf-select="upload($file)" style="margin-bottom: 10px;">Choose File</div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{fileprogressbar}}%"
                  aria-valuemin="0" aria-valuemax="100" ng-style="{'width':fileprogressbar+'%'}">
                  {{fileprogressbar}}%
                </div>
                <span class="label label-success" ng-if="uploadStatus == 'uploaded'">Uploaded Successfully</span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-4 col-xs-offset-4 col-xs-4">
                <button type="button" class="btn green btn-outline pull-right" data-dismiss="modal" ng-disabled="cadfile.$invalid" ng-click="saveExtcadfile(data)">SUBMIT</button>
              </div>
            </div>

            <div class="form-group" style="font-size:12px">
              <p class="col-md-12" for="email"><strong>Once the Orthomosaic is laid over the map, we will email you the link to process your CAD Request.</strong></p>

            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn green btn-outline" data-dismiss="modal">Close</button>

        </div>
        <div class="loading-img-modal">
          <img src="img/loading.gif" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>

<!--*************************************** END OF USER VIEW **********************************************-->
<!--*************************************** START OF ADMIN VIEW **********************************************-->
<div class="page-container" ng-if="accessLevel=='Admin'">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content">
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> ​CAD File Requests </h2>
          <ol class="breadcrumb">
            <li> <a ui-sref="dashboard">Home</a> </li>
            <li class="active"> <strong>​CAD File Requests</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">

        <div class="ibox float-e-margins">
          <!--<div class="ibox-title">
                <h5>Missions</h5>
              </div>-->


          <div class="ibox-content collapse in">


            <div class="widgets-container">
              <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                  <div class="col-md-6"> <label>Show          <select name="DataTables_Table_2_length" ng-change="getAllItems(selectData)" ng-model="selectData" aria-controls="DataTables_Table_2" class="form-control input-sm">              <option value="10">10</option>              <option value="25">25</option>              <option value="50">50</option>              <option value="100">100</option>          </select> entries        </label>
                    <!--<div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to {{maxCount}} of {{totalItems}} entries</div>-->
                  </div>
                  <div class="col-md-6">
                    <div class="pull-right"> <label>Search:<input type="text " ng-change="getAllItems(true) " placeholder="Search Here...
                        " ng-model="search.keyword " /></label>
                      <div class="dt-buttons btn-group"> <a class="btn btn-default buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>Copy</span>             </a>                        <a class="btn btn-default buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>CSV</span>             </a>                        <a class="btn btn-default buttons-excel buttons-html5" tabindex="0" ng-click=generateExcel(); aria-controls="DataTables_Table_0"><span>Excel</span>             </a>                        <a class="btn btn-default buttons-pdf buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>PDF</span>             </a>                        <a class="btn btn-default buttons-print" tabindex="0" aria-controls="DataTables_Table_0"><span>Print</span>             </a>                        </div>
                    </div>
                  </div>
                </div>
              </div>
              </common-view>
              <div>
                <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                  <thead>
                    <tr>
                      <th>Cad ID</th>
                      <th>User ID</th>

                      <th>Acreage</th>
                      <th>Description</th>

                      <th>Status</th>
                      <th>Date of Request</th>
                      <th>Completion Date</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="cadData in allCadLineData track by $index">

                      <td><a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadData.cadId}}</a></td>
                      <td><a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadData.user.dataId}}</a></td>

                      <td><a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadData.acreage}}</a></td>
                      <td>
                        <a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadData.instruction}}</a>
                        <!--<a ui-sref="cadfile-details ({cadId:cadfile._id})" ng-if="cadData.contours==true">Yes</a>
                        <a ui-sref="cadfile-details ({cadId:cadfile._id})" ng-if="cadData.contours==false">No</a>-->
                      </td>

                      <td><a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadData.status}}</a></td>
                      <td><a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadData.createdAt | date}}</a></td>
                      <td><a ui-sref="cadfile-details({'cadId' : cadData._id})">{{cadfile.completionDate| date}} </a></td>
                    </tr>
                  </tbody>
                </table>
                <div class="right-side">
                  <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--*************************************** END OF ADMIN VIEW **********************************************-->

<!--*************************************** START OF VENDOR VIEW **********************************************-->
<div class="page-container " ng-if="accessLevel=='Vendor'">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content">
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> ​CAD Request </h2>
          <ol class="breadcrumb">
            <li> <a ui-sref="dashboard">Home</a> </li>
            <li class="active"> <strong>​CAD File Requests</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">

        <div class="ibox float-e-margins">
          <!--<div class="ibox-title">
                <h5>Missions</h5>
              </div>-->


          <div class="ibox-content collapse in">
            <div class="widgets-container">
              <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                  <div class="col-md-6"> <label>Show          <select name="DataTables_Table_2_length" ng-change="getAllItems(selectData)" ng-model="selectData" aria-controls="DataTables_Table_2" class="form-control input-sm">              <option value="10">10</option>              <option value="25">25</option>              <option value="50">50</option>              <option value="100">100</option>          </select> entries        </label>
                    <!--<div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 10 of 13 entries</div>-->
                  </div>
                  <div class="col-md-6">
                    <div class="pull-right"> <label>Search:<input type="text " ng-change="getAllItems(true) " placeholder="Search Here...
                        " ng-model="search.keyword " /></label>
                      <div class="dt-buttons btn-group"> <a class="btn btn-default buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>Copy</span>             </a>                        <a class="btn btn-default buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0"><span>CSV</span>             </a>                        <a class="btn btn-default buttons-excel buttons-html5" tabindex="0" ng-click=generateExcelforUser();
                          aria-controls="DataTables_Table_0"><span>Excel</span>             </a> <a class="btn btn-default buttons-pdf buttons-html5"
                          tabindex="0" aria-controls="DataTables_Table_0"><span>PDF</span>             </a> <a class="btn btn-default buttons-print"
                          tabindex="0" aria-controls="DataTables_Table_0"><span>Print</span>             </a> </div>
                    </div>
                  </div>
                </div>
              </div>
              </common-view>
              <div>
                <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                  <thead>
                    <tr>
                      <th>Mission ID</th>
                      <th>Acreage</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th>Date of Request</th>
                      <th>Completion Date</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="cadVendorData in allCadLineVendorData track by $index">

                      <td><a ui-sref="cadfile-details({'cadId' : cadVendorData._id})">{{cadVendorData.mission.missionId}}</a></td>
                      <td><a ui-sref="cadfile-details({'cadId' : cadVendorData._id})">{{cadVendorData.acreage}}</a></td>
                      <td> <a ui-sref="cadfile-details({'cadId' : cadVendorData._id})">{{cadData.instruction}}</a></td>

                      <td><a ui-sref="cadfile-details({'cadId' : cadVendorData._id})">{{cadVendorData.status}}</a></td>
                      <td><a ui-sref="cadfile-details({'cadId' : cadVendorData._id})">{{cadVendorData.createdAt | date}}</a></td>
                      <td><a ui-sref="cadfile-details({'cadId' : cadVendorData._id})">{{cadfile.completionDate| date}} </a></td>
                    </tr>
                  </tbody>
                </table>
                <div class="right-side">
                  <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--*************************************** END OF VENDOR VIEW **********************************************-->