<!--****************************** START OF USER VIEW **************************************************************************************8-->
<div class="page-container" ng-if="accessLevel=='User'">

    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight">
        <div class="page-content">
            <div class="wrapper-content ">
                <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats red-bg">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-diamond fa-fw"></i></div>
                            <div class="stats-title">TOTAL MISSIONS</div>
                            <div class="stats-number">{{totalMissionsForUser}}</div>
                            <div class="stats-progress progress">
                                <div style="width: 70.1%;" class="progress-bar"></div>
                            </div>
                            <!--<div class="stats-desc">Better than last week (70.1%)</div>-->
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15">
                        <div class="widget widget-stats aqua-bg ">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-picture-o fa-fw"></i></div>
                            <div class="stats-title">TOTAL CAD FILE REQUESTED</div>
                            <div class="stats-number">{{totalCadForUser}}</div>
                            <div class="stats-progress progress">
                                <div style="width: 40.5%;" class="progress-bar"></div>
                            </div>
                            <!--<div class="stats-desc">Better than last week (40.5%)</div>-->
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15">
                        <div class="widget widget-stats purple-bg">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-sliders fa-fw"></i></div>
                            <div class="stats-title">DFM STATUS</div>
                            <div class="stats-number" style="color:#8e44ad">000</div>
                            <div class="stats-progress progress">
                                <!-- <div style="width: 76.3%;" class="progress-bar"></div>-->
                            </div>
                            <div class="stats-desc">{{dfmDateAndStatusOfUser.status}}</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15">
                        <div class="widget widget-stats black-bg">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-calendar-times-o fa-fw"></i></div>
                            <div class="stats-title">DFM EXPIRATION DATE</div>
                            <div class="stats-number" style="color:#2f353b">000</div>
                            <div class="stats-progress progress">
                                <!--<div style="width: 54.9%;" class="progress-bar"></div>-->
                            </div>
                            <div class="stats-desc">{{dfmDateAndStatusOfUser.expiryDate | date}}</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <div class="row top20">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Orders</h5>
                                <!--<div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-white active">Today</button>
                                            <button type="button" class="btn btn-xs btn-white">Monthly</button>
                                            <button type="button" class="btn btn-xs btn-white">Annual</button>
                                        </div>
                                    </div>-->
                            </div>
                            <div class="ibox-content collapse in">
                                <div>
                                    <div class="widgets-container">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="chart-user">
                                                    <div id="legend"></div>
                                                    <div class="flot-chart-box">
                                                        <flot dataset="dataset" id="flot-placeholder" options="options" on-plot-click="onEventExampleClicked(event, pos, item)" on-plot-hover="onEventExampleHover(event, pos, item)"
                                                            height="200px"></flot>
                                                        <div id="a" style="position:fixed;">
                                                            <div id="b" style="background: white; color:black;border:1px solid black">{{toolsvalue}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 ">
                                                <ul class="stat-list ">
                                                    <li>
                                                        <h2 class="no-margins ">{{lastMonthData}}</h2>
                                                        <small>Total CAD Orders in {{lastMonth}}</small>
                                                        <div class="stat-percent ">{{lastMonthData}} <i class="fa fa-level-up text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width: {{lastMonthData}};"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">{{last1MonthData}}</h2>
                                                        <small>Total CAD Orders in {{last1Month}}</small>
                                                        <div class="stat-percent ">{{last1MonthData}} <i class="fa fa-level-up text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width:{{last1MonthData}};"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">{{last2MonthData}}</h2>
                                                        <small>Total CAD Orders in {{last2Month}}</small>
                                                        <div class="stat-percent ">{{last2MonthData}} <i class="fa fa-level-down text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width:{{last2MonthData}}; "></div>
                                                        </div>
                                                    </li>
                                                    <!--<li>
                                                            <h2 class="no-margins ">9,180</h2>
                                                            <small>Monthly income from orders</small>
                                                            <div class="stat-percent ">22% <i class="fa fa-bolt text-navy "></i></div>
                                                            <div class="progress progress-mini ">
                                                                <div class="progress-bar " style="width: 22%; "></div>
                                                            </div>
                                                        </li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 ">
                        <div class="ibox float-e-margins ">
                            <div class="ibox-title ">
                                <h5>Usage Statistics</h5>
                                <!--<div class="ibox-tools "> <a class="btn green btn-xs " href=" "> 31-Jan-2017</a> </div>-->
                            </div>
                            <!-- Pie Chart -->
                            <div class="ibox-content collapse in ">
                                <div class="demo-container ">
                                    <flot textinfo="none " dataset="pieDataset " options="pieOptions " height="380px "></flot>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <!-- Start feed -->
                        <div class="ibox float-e-margins ">
                            <div class="ibox-title ">
                                <h1>Do you want to upgrade your DFM or buy a Drone?</h1>
                                <!-- ibox-tools -->
                                <div class="col-lg-12 " style="padding-left:60px; padding-top:30px ; padding-bottom:50px ">
                                    <button class="btn green btn-outline " ui-sref="product-detail "> Click to upgrade DFM or buy a Drone</button>
                                </div>
                            </div>
                            <!-- End feed -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--****************************** END OF USER VIEW **************************************************************************************8-->
<!--****************************** START OF ADMIN VIEW **************************************************************************************8-->
<div class="page-container " ng-if="accessLevel=='Admin' ">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight ">
        <div class="page-content ">
            <div class="wrapper-content ">
                <div class="row ">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 ">
                        <div class="widget widget-stats red-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-user-circle-o fa-fw "></i></div>
                            <div class="stats-title ">TOTAL USERS</div>
                            <div class="stats-number ">{{totalUsers}}</div>
                            <div class="stats-progress progress ">
                                <!-- <div style="width: 70.1%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">Clients + Vendors</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15 ">
                        <div class="widget widget-stats aqua-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-paper-plane-o fa-fw "></i></div>
                            <div class="stats-title ">TOTAL DRONES SOLD </div>
                            <div class="stats-number ">{{totalDronesSold}}</div>
                            <div class="stats-progress progress ">
                                <!-- <div style="width: 40.5%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">FC - 250</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15 ">
                        <div class="widget widget-stats purple-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-picture-o fa-fw "></i></div>
                            <div class="stats-title ">TOTAL CAD REQUESTED</div>
                            <div class="stats-number ">{{totalCad}}</div>
                            <div class="stats-progress progress ">
                                <!--<div style="width: 76.3%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">Till Current Date</div>

                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15 ">
                        <div class="widget widget-stats green-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-diamond fa-fw "></i></div>
                            <div class="stats-title ">TOTAL MISSIONS</div>
                            <div class="stats-number ">{{totalMission}}</div>
                            <div class="stats-progress progress ">
                                <!-- <div style="width: 54.9%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc "> Till Current Date</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <div class="row top20 ">
                    <div class="col-lg-12 ">
                        <div class="ibox float-e-margins ">
                            <div class="ibox-title ">
                                <h5> CAD Orders</h5>
                                <div class="pull-right ">
                                    <div class="btn-group ">
                                        <button type="button " class="btn btn-xs btn-white active " ng-click="getAllData('Today')">Today</button>
                                        <button type="button " class="btn btn-xs btn-white " ng-click="getAllData('Month')">Monthly</button>
                                        <button type="button " class="btn btn-xs btn-white " ng-click="getAllData('Year')">Annual</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content collapse in ">
                                <div>
                                    <div class="widgets-container ">
                                        <div class="row ">
                                            <div class="col-sm-9 ">
                                                <div class="chart-admin ">
                                                    <div id="legend "></div>
                                                    <flot dataset="datasetadmin" id="flot-placeholder" options="optionsadmin" on-plot-click="onEventExampleClicked1(event, pos, item)"
                                                        on-plot-hover="onEventExampleHover1(event, pos, item)" height="200px"></flot>
                                                    <div id="c" style="position:fixed;">
                                                        <div id="d" style="background: white; color:black;border:1px solid black">{{toolsvalue1}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 ">
                                                <ul class="stat-list ">
                                                    <li>
                                                        <h2 class="no-margins ">{{totalDfmSum}}</h2>
                                                        <small>Total DFM Revenue</small>
                                                        <div class="stat-percent ">{{totalDfmSum/100}}<i class="fa fa-level-up text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width: {{totalDfmSum}}; "></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">{{totalProductSum}}</h2>
                                                        <small>Total DRONE Revenue</small>
                                                        <div class="stat-percent ">{{totalProductSum}}<i class="fa fa-level-up text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width: {{totalProductSum}}; "></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">{{totalCadSum}}</h2>
                                                        <small>Total CAD Revenue</small>
                                                        <div class="stat-percent ">{{totalCadSum}}<i class="fa fa-level-down text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width: {{totalCadSum}}; "></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">{{totalSum}}</h2>
                                                        <small>Total Revenue</small>
                                                        <div class="stat-percent ">{{totalSum}}<i class="fa fa-bolt text-navy "></i></div>
                                                        <div class="progress progress-mini ">
                                                            <div class="progress-bar " style="width: {{totalSum}}; "></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-lg-12 ">
                            <div class="ibox float-e-margins ">
                                <div class="ibox-title ">
                                    <h5>Last 10 CAD </h5>
                                    <!--<div class="ibox-tools "> <a class="btn green btn-xs " href=" "> 31-Jan-2017</a> </div>-->
                                </div>
                                <div class="ibox-content collapse in ">
                                    <div class="widgets-container tabs-container dashboard-tab-data-box ">
                                        <div class="table table-hover ">
                                            <table datatable=" " dt-options="dtOptions " class="table table-striped table-bordered
                                                            table-hover dataTables-example ">
                                                <thead>
                                                    <tr>
                                                        <th>CAD ID</th>
                                                        <th>Acreage</th>
                                                        <th>Status</th>
                                                        <th>Date of Request</th>
                                                        <th>Completion Date</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="cadData in totalTenCad track by $index">
                                                        <td>{{cadData.cadId}}</td>
                                                        <td>{{cadData.acreage}}</td>
                                                        <td>{{cadData.status}}</td>
                                                        <td>{{cadData.createdAt | date}}</td>
                                                        <td>{{cadData.completionDate | date}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12 ">
                            <div class="col-lg-6 ">
                                <!-- Start feed -->
                                <div class="ibox float-e-margins ">
                                    <div class="ibox-title ">
                                        <h5>Orders</h5>

                                    </div>
                                    <!-- Pie Chart -->
                                    <div class="ibox-content collapse in ">
                                        <div class="demo-container ">
                                            <flot textinfo="none " dataset="pieDatasetOrder " options="pieOptionsOrder
                                                            " height="380px "></flot>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="ibox-title ">
                                    <h5>Revenue</h5>
                                </div>
                                <!-- Pie Chart -->
                                <div class="ibox-content collapse in datarevenue-graph2">
                                    <div class="demo-container ">
                                        <flot textinfo="none " dataset="pieDatasetRevenue " options="pieOptionsRevenue
                                                            " height="380px "></flot>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--****************************** END OF ADMIN VIEW **************************************************************************************8-->
<!--****************************** START OF VENDOR VIEW **************************************************************************************8-->
<div class="page-container " ng-if="accessLevel=='Vendor' ">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight ">
        <div class="page-content ">
            <div class="wrapper-content ">
                <div class="row ">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 ">
                        <div class="widget widget-stats red-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-picture-o fa-fw "></i></div>
                            <div class="stats-title ">TOTAL RECEIVED CAD FILES</div>
                            <div class="stats-number ">{{totalCadForVendor}}</div>
                            <div class="stats-progress progress ">
                                <!--<div style="width: 70.1%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">Till Date</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15 ">
                        <div class="widget widget-stats aqua-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-check-square-o fa-fw "></i></div>
                            <div class="stats-title ">TOTAL COMPLETED CAD FILES</div>
                            <div class="stats-number ">{{totalCadCompletedForVendor}}</div>
                            <div class="stats-progress progress ">
                                <!--<div style="width: 40.5%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">Till Date</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15 ">
                        <div class="widget widget-stats purple-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-file-image-o fa-fw "></i></div>
                            <div class="stats-title ">TOTAL INCOMPLETED CAD FILES</div>
                            <div class="stats-number ">{{totalCadIncompletedForVendor}}</div>
                            <div class="stats-progress progress ">
                                <!--<div style="width: 76.3%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">Till Date</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6 mtop15 ">
                        <div class="widget widget-stats green-bg ">
                            <div class="stats-icon stats-icon-lg "><i class="fa fa-usd fa-fw "></i></div>
                            <div class="stats-title ">TOTAL EARNING</div>
                            <div class="stats-number ">{{totalEarningForVendor}}</div>
                            <div class="stats-progress progress ">
                                <!--<div style="width: 54.9%; " class="progress-bar "></div>-->
                            </div>
                            <div class="stats-desc ">Till Date</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <div class="row top20 ">

                    <div>

                        <div class="col-lg-6 ">
                            <!-- Start feed -->
                            <div class="ibox float-e-margins ">
                                <div class="ibox-title ">
                                    <h5>Current Month CAD Statitics </h5>
                                    <!-- ibox-tools -->

                                </div>
                                <!-- Pie Chart -->
                                <div class="ibox-content collapse in ">
                                    <div class="demo-container ">
                                        <flot textinfo="none " dataset="pieDatasetCad " options="pieOptionsCad
                                                            " height="380px "></flot>
                                    </div>
                                </div>
                            </div>
                            <!-- End feed -->
                        </div>

                        <div class="col-lg-6 ">
                            <!-- Start feed -->
                            <div class="ibox float-e-margins ">
                                <div class="ibox-title ">
                                    <h5>Current Month Earning Statitics</h5>
                                    <!-- ibox-tools -->

                                </div>

                                <!-- Pie Chart -->
                                <div class="ibox-content collapse in ">
                                    <div class="demo-container ">
                                        <flot textinfo="none " dataset="pieDatasetMonth " options="pieOptionsMonth
                                                            " height="380px "></flot>
                                    </div>
                                </div>

                            </div>
                            <!-- End feed -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--****************************** END OF VENDOR VIEW **************************************************************************************8-->