<!--*************************************** START OF USER VIEW **********************************************-->
<div class="page-container ">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight  ">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h2>Edit Product </h2>
                    <ol class="breadcrumb">
                        <li> <a ui-sref="dashboard">Home</a> </li>
                        <li> <a ui-sref="products-plans">Product plans </a> </li>
                        <li class="active"> <strong>Edit Product</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content  text-center">
                <div class="col-lg-12">
                    <div class="col-lg-6" style="padding-top:10px">
                        <table class="table table-responsive">
                            <tr>
                                <td>Product Image</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="img/productDetail/placeholders.jpg" ng-if="!data.image">
                                    <img ng-src="{{data.image | serverimage}}" ng-if="data.image">
                                </td>

                            </tr>
                            <tr>
                                <td><input class="form-control" type="file" name="" id=""></td>

                            </tr>
                            <tr>

                                <td><button type="button" class="btn green btn-outline btn-md">Upload</button></td>
                            </tr>

                        </table>

                    </div>
                    <div class="col-lg-6" style="padding-top:10px">
                        <table class="table table-responsive">
                            <tr>
                                <td>Category</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control" ng-model="data.category">
											<option value="{{data.category}}">{{data.category}}</option>
											<option value="DFM Free">DFM Free</option>
											<option value="DFM Pro">DFM Pro</option>
											<option value="DFM Standard">DFM Standard</option>
											<option value="Drone">Drone</option>
										</select>
                                </td>
                            </tr>
                            <tr>
                                <td>Product Description</td>
                                <td>:</td>
                                <td>
                                    <div class="note-editor  panel panel-default">
                                        <div>
                                            <div summernote class="summernote" ng-model="data.description">

                                                {{data.description}}

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td><input class="form-control" ng-model="data.name" type="text" value="" placeholder="Enter name"></td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>:</td>
                                <td><input class="form-control" ng-model="data.price" type="text" value="{">
                                    <td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control" ng-model="data.status">
											<option value="{{data.status}}">{{data.status}}</option>
											<option value="Active">Active</option>
											<option value="Inactive">Inactive</option>
										</select>
                                </td>
                            </tr>
                            <tr>
                                <td>Validity</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control" ng-model="data.validity">
											<option value="{{data.validity}}">{{data.validity}}</option>
											<option value="Not Applicable">Not Applicable</option>
											<option value="15 Days">15 Days</option>
											<option value="1 Month">1 Month</option>
											<option value="2 Months">2 Months</option>
											<option value="3 Months">3 Months</option>
										</select>
                                </td>
                            </tr>

                        </table>
                        <td><button type="button" ng-click="updateProduct(data)" class="btn green btn-outline btn-md">Update</button></td>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--*************************************** END OF USER VIEW **********************************************-->
<!--*************************************** START OF ADMIN VIEW **********************************************-->
<!--*************************************** END OF ADMIN VIEW **********************************************-->