 <div class="page-container">
       <div class="page-title">
                <div class="title-env">
                    <h1 class="title padd-b20">DRONE Sale Application</h1>
                </div>
            </div>
            <!-- Responsive Table -->
            <div class="row">
                <div class="col-md-12">
                      <div class="padd40">
                    <div class="panel panel-default padd40">
                     
                            <div class="row">
                             <div class="col-md-12">
                                     <section class="search-env">
                                    <form method="get" action="" enctype="application/x-www-form-urlencoded">
                                        <input type="text" class="form-control input-lg" placeholder="Search..." name="s" />
                                        <button type="submit" class="btn-unstyled btn-search">
								 <i class="fa fa-search" aria-hidden="true"></i>
                                      </button>
                                    </form>
                                </section>
                                </div>
                                <div class="col-md-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened"
                                        datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                                    <span class="input-group-btn">
                             <button type="button" class="btn btn-default btn-gray" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                   </span>
                                </p>
                            </div>
                               <div class="col-md-3 ">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="To Date" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened"
                                        datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-gray" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                   </span>
                                </p>
                            </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select class="form-control"> 
                                            <option>Select Status</option> 
                                            <option>Replied</option> 
                                            <option>Resolved</option>
                                            <option>In Process</option>
                                            <option>Closed</option>
                                            <option>No Reply</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                    
                        <div style="  overflow: scroll;">
                            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                <thead style="white-space:nowrap;">
                                    <tr>
                                        <th>User ID</th>
                                        <!--<th>Name</th>
                                        <th data-priority="1">Company</th>
                                        <th>Email</th>
                                        <th data-priority="1">Phone</th>
                                        <th data-priority="3">Drone Type</th>-->
                                        <th data-priority="1">Drone Use</th>
                                        <!--<th data-priority="1">Drone Cost</th>-->
                                        <th data-priority="3">Transaction Date</th>
                                        <th data-priority="3">Shipping Address</th>
                                        <th data-priority="6">Amount Paid</th>
                                        <th data-priority="6">Discount</th>
                                        <th data-priority="6">Coupon Code</th>
                                        <th data-priority="6">Payment ID</th>
                                    </tr>
                                </thead>
                                <tbody style="white-space:nowrap;">
                                    <tr>
                                        <td>40120
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type1</td>-->
                                        <td>________</td>
                                        <!--<td>$500
                                        </td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>10%</td>
                                        <td>Yes</td>
                                        <td>P221</td>
                                    </tr>
                                    <tr>
                                        <td>40120
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type1</td>-->
                                        <td>________</td>
                                        <!--<td>$300</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>05%</td>
                                        <td>No</td>
                                        <td>P222</td>
                                    </tr>
                                    <tr>
                                        <td>50220
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type1</td>-->
                                        <td>________</td>
                                        <!--<td>$500</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>10%</td>
                                        <td>Yes</td>
                                        <td>P223</td>
                                    </tr>
                                    <tr>
                                        <td>40320
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type2</td>-->
                                        <td>________</td>
                                        <!--<td>$300</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>20%</td>
                                        <td>No</td>
                                        <td>P224</td>
                                    </tr>
                                    <tr>
                                        <td>50420
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type3</td>-->
                                        <td>________</td>
                                        <!--<td>$500</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>10%</td>
                                        <td>Yes</td>
                                        <td>P225</td>
                                    </tr>
                                    <tr>
                                        <td>80520
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type1</td>-->
                                        <td>________</td>
                                        <!--<td>$300</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>05%</td>
                                        <td>No</td>
                                        <td>P226</td>
                                    </tr>
                                    <tr>
                                        <td>90620
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type2</td>-->
                                        <td>________</td>
                                        <!--<td>$500</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>10%</td>
                                        <td>Yes</td>
                                        <td>P227</td>
                                    </tr>
                                    <!-- Repeat -->
                                    <tr>
                                        <td>40120
                                        </td>
                                        <!--<td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>________</td>
                                        <td>Type3</td>-->
                                        <td>________</td>
                                        <!--<td>$500</td>-->
                                        <td>4/01/2016</td>
                                        <td>________</td>
                                        <td>$500</td>
                                        <td>20%</td>
                                        <td>No</td>
                                        <td>P228</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                           <div class="paddt20">
                        <ul class="pagination">
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="disabled"><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                           </div>
                        <!--<div class="panel-body">
                           
                          
                            <div class="text-center">
                                <h3 class="panel-title">TOTAL SALE</h3>
                            </div>
                        </div>-->
                    </div>
                </div>
                    <div class="modal fade" id="modal-6">
                        <div class="modal-dialog">
                            <div class="modal-content">
                               <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                           <label>Revenue {Period selection (12/01/2016 to 12/31/2016)} OR Revenue till date</label>
                                            <ul>
                                                <li>Drone Sales Revenue</li>
                                                <li>DFM Subscription Revenue</li>
                                                <li>CAD Linework Revenue </li>
                                                <li>Total Revenue </li>
                                                <li>Total Missions Created</li>
                                                <li>Total CAD Requests</li>
                                                <li>DFM Plan : Standard/PRO</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-info">Save</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               