<div class="page-container">
    <!--<div class="page-title">
        <div class="title-env slide-menu">
            <h1 class="title">Missions</h1>
            <p>Capture, store and curate drone generated raw data with our intuitively designed Cloud based Drone File Management
                (DFM).
            </p>
        </div>
    </div>-->
     <div class="page-title">
        <div class="title-env padd-b">
            <h1 class="title">Missions</h1>
            <p>Capture, store and curate drone generated raw data with our intuitively designed Cloud based Drone File Management
                (DFM).
            </p>
        </div>

    </div>
    <!-- Responsive Table -->
    <div class="row">
        <div class="col-md-12">
            <div class="padd40">
                <div class="panel panel-default padd40">
                    <!--<div class="panel-body">-->
                    <div class="">
                        <div class="row">
                            <!--<div class="col-md-8">
                   <div class="row">
                        <!--<div class="col-md-8">
                                <div class="form-group  ">
                                    <h4 for="expenses">CAD Linework Expenses : $25,21,545</h4>
								</div>
                                </div>-->
                            <div class="col-md-6">
                                <a>
                                    <div class="breadcrumb-env "> <button class="btn btn-primary popover-primary create" data-toggle="popover" data-trigger="hover"
                                            ui-sref="createmission" data-placement="top" data-content="To get your drone data processed through DFM, you will have to first create a mission. Creating a mission is simple and a click away."
                                            data-original-title="Create Mission">Create Mission</button></div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <section class="search-env">
                                    <form method="get" action="" enctype="application/x-www-form-urlencoded">
                                        <input type="text" class="form-control input-lg" placeholder="Search..." name="s" />
                                        <!--<div>
                                    <button type="submit" class="btn-unstyle">
                                     <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    </div>-->
                                        <button type="submit" class="btn-unstyled btn-search">
								<!--<i class="linecons-search"></i>-->
                                  <i class="fa fa-search" aria-hidden="true"></i>
                           </button>
                                    </form>
                                </section>
                            </div>
                            <div class="col-md-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="From Date" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened"
                                        datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-gray" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="To Date" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened"
                                        datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                    />
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-gray" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Status</option>
                                            <option>Queued</option>
                                            <option>Error</option>
                                            <option> Waiting</option>
                                            <option>Ready</option>
                                            </select>
                                </div>
                            </div>
                            <div class="col-md-3  pull-right">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Download as</option>
                                        <option>xl</option>
                                        <option>csv</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="  overflow: scroll;">
                        <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                            <thead style="white-space:nowrap;">
                                <tr>
                                    <th>Mission Id</th>
                                    <th data-priority="1">CAD Linework</th>
                                    <th data-priority="3">Uploaded</th>
                                    <!--<th data-priority="1">Collected</th>-->
                                    <th data-priority="3">Mission Address</th>
                                    <th data-priority="3">Status</th>
                                    <th data-priority="6">Date of completion</th>
                                    <!--<th data-priority="6">Use App</th>-->
                                    <!--<th class="comp1">
                                        <span class="on-hover">
                                                Completed Apps
                                                 <span class="show-hover">Generate reports from drone acquired data in multiple formats, through a single
                                                click. Choose from between orthomosaics, (DEMs), 3D elevation models, point
                                                clouds, and NDVI to access your DFM.</span>
                                        </span>
                                    </th>-->
                                    <!--<th data-priority="6" data-toggle="popover" data-trigger="click" data-placement="top" data-content="Generate reports from drone acquired data in multiple formats, through a single click. Choose from between orthomosaics, (DEMs), 3D elevation models, point clouds, and NDVI to access your DFM."
                                            data-original-title="Completed Apps">Completed Apps </th>-->
                                    <!--<th data-priority="6">Shared Map</th>
                                    <th data-priority="6">Sharing</th>-->
                                </tr>
                            </thead>
                            <tbody style="white-space:nowrap;">
                                <tr ng-repeat="mis in missionData">
                                    <th><a ui-sref="missiondetail({missionId:mis._id})" class="id-underline">{{mis.missionId}}</th>
                                           <td><a href="javascript:;" onclick="jQuery('#modal-4').modal('show', {backdrop: 'static'});"   class="btn btn-default request-button" >Request CAD Linework</a></td>
                                        <!--<td>Completed</td>-->
                                        <!--<td>In Q.C.</td>-->
                                        <!--<td>In Process</td>-->
                                        <td>{{mis.createdAt | date}}</td>
                                        <td>_____</td>
                                        <td>_____</td>
                                        <td>{{mis.status}}</td>
                                        <td>_____</td>
                                        <td>
                                            <div class="form-group ">
                                                <select class="form-control select-w sel-app" onChange="window.location.href = this.value">
                                                           <option class="" selected disabled>Select Apps to Use</option>
                                                        <option  value="#!/missionanalyze/{{mis._id}}" ng-repeat="x in serviceListData">{{x.name}}</option>
													</select>
                                            </div>
                                        </td>

                                        <td><a ui-sref="missionanalyze({missionId:mis._id})" ng-repeat="m in mis.others"><button type="button" class="btn btn-gray ma5">

					{{m.name}}	</button></a></td>
                                        <td>_____</td>
                                        <td>_____</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal fade" id="modal-4" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Mission Address</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Mission Address:</label>
                                            <div>
                                                <p>Please confirm your Mission address. If you want to process a CAD file request
                                                    for this project, please click on Confirm and Proceed.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Confirm &amp; Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>