<div class="page-container">
 <div class="page-title">
    <div class="title-env">
      <h1 class="title">Mission 16606</h1>
    </div>
  </div>
  <!-- Responsive Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body ">
          <div class="">
            <h3 for="">Mission 16606</h3>
            <p class="bg-muted create-p fs14">
              Merivale Ln., Pacific Palisades,CA<br> 110 images (410.7 MB) collected Cannot determine collection timestamp<br>              srs WGS84 (EPSG:4326)<br>
            </p>
          </div>
          <div class="rw-misn" ng-repeat="service in serviceListData">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="misn-img">
                      <img ng-src="{{service[0].thumbnail | serverimage}}" alt="">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="misn-p">
                      <h4><b>{{service[0].name}}</b></h4>
                      <p>{{service[0].description}} </p>
                      <a type="button" ng-if="service[0].status=='ready'" class="btn btn-default ready-btn ">ready</a>
                       <a type="button" ng-if="service[0].status=='unavailable'" class="btn btn-success bg-lg">This app is not yet available for this mission</a>
                         <a type="button" ng-if="service[0].status=='requested'" class="btn btn-success bg-lg">Requested</a>
                        <a type="button" ng-if="!service[0].status" class="btn btn-default apply-btn" ng-click="serviceRequest(service[0])" >Apply DVI</a>
                                 <div class="sharing">
                                           <i class="fa-share-square-o"></i>
                                      <select class="sharing">
                                          <option>Sharing </option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            
                                            </select>
                                    </div>


                      <!-- <label for="">Create an ortho-mosaic from uploaded imagery.</label>
                                      <label for="">added 6 days, 12 hours ago </label> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="misn-img">
                      <img ng-src="{{service[1].thumbnail | serverimage}}" alt="">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="misn-p">
                      <h4><b>{{service[1].name}}</b></h4>
                      <p>{{service[1].description}}</p>
                      <!-- <label for="">Crop Ortho-mosaics and DEMs to desired boundary</label> -->
                      <div class="btn-group btn-group-justified btn-sm">
                        <a type="button" ng-if="service[1].status=='ready'" class="btn btn-default ready-btn ">ready</a>
                        <a type="button" ng-if="service[1].status=='unavailable'" class="btn btn-success bg-lg">This app is not yet available for this mission</a>
                        <a type="button" ng-if="service[1].status=='requested'" class="btn btn-success bg-lg">Requested</a>
                        <a type="button" ng-if="!service[1].status" class="btn btn-default apply-btn" ng-click="serviceRequest(service[1])" >Apply DVI</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</form>
</div>
<script type="text/javascript">
  // This JavaScript Will Replace Checkboxes in dropdown toggles
  jQuery(document).ready(function ($) {
    setTimeout(function () {
      $(".checkbox-row input").addClass('cbr');
      cbr_replace();
    }, 0);
  });
</script>
</div>
</div>
</div>
</div>
<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->
<div class="footer-inner">
  <!-- Add your copyright text here -->
  <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
  <!-- <div class="go-up">
            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>
        </div> -->
</div>
</footer>
</div>

<!-- End: Footer Sticked Chat -->
</div>
<!-- Bottom Scripts -->