<div class="page-container">
    <div class="page-title">
        <div class="title-env padd-b">
            <h1 class="title padd-b20">Mission {{missionDetails.missionId}}</h1>
        </div>
    </div>
    <!-- Responsive Table -->
    <div class="row">
        <div class="padd40">
            <div class="col-md-12">
                <div class="padd40">
                    <div class="panel panel-default padd40">
                        <div class="panel-body ">
                            <!--<div>
                            <h3 for="">Mission {{missionDetails.missionId}}</h3>
                            <p class="bg-muted create-p">
                                Merivale Ln., Pacific Palisades,CA<br> 110 images (410.7 MB) collected Cannot determine collection
                                timestamp
                                <br> srs WGS84 (EPSG:4326)<br>
                            </p>
                        </div>-->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="misn-div">
                                        <div class="display-inline">
                                              <p> <input type="checkbox" id="test1" />
                                <label for="test1">DSM</label> </p>
                                        </div>
                                        <div class="display-inline">
                                          <p> <input type="checkbox" id="test2" />
                                <label for="test2">Orthomosaic</label> </p>
                                        </div>
                                        <div class="display-inline">
                                            <p> <input type="checkbox" id="test3" />
                                <label for="test3">Basemap</label> </p>
                                        </div>
                                        <div>
                                            <a href="javascript:;" onclick="jQuery('#modal-4').modal('show', {backdrop: 'static'});"   class="btn btn-default request-button" >Request CAD Linework</a>
                                        </div>
                                         <div>
                                            <a href="javascript:;" onclick="jQuery('#modal-4').modal('show', {backdrop: 'static'});"   class="btn btn-default request-button" >Uploaded Files</a>
                                        </div>
                                        <!--<a href="#">
                                        <button class="btn btn-purple misn-btn btn-icon btn-icon-standalone">
            									<i class="fa-map-marker upload"></i>
            									<span>Map Viewer</span>
            								</button>
                                    </a>-->
                                        <!--<a href="mission-analyze.html">
                                        <button class="btn btn-purple misn-btn btn-icon btn-icon-standalone">
            									<i class="fa-file-image-o upload"></i>
            									<span>Analyze Imagery</span>
            								</button>
                                    </a>-->
                                        <!--<a href="#">
                                            <button class="btn btn-purple misn-btn btn-icon btn-icon-standalone">
            									<i class="fa-download upload"></i>
            									<span>Access Downloads</span>
            								</button>
                                        </a>-->
                                        <!--<a href="#">
                                        <button class="btn btn-purple misn-btn btn-icon btn-icon-standalone">
            									<i class="fa-trash-o upload"></i>
            									<span>Delete Mission</span>
            								</button>
                                    </a>-->

                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="img-map">
                                        <div id='map' class="map-box"></div>
                                        <div class='calculation-box'>
                                            <p>Draw a polygon using the draw tools.</p>
                                            <div id='calculate' class='button button'>Calculate area</div>
                                            <div id='calculated-area'></div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-12">
                              
                                <div class="mt10">
                                    <h5 for="">Description</h5>
                                    <div class="col-sm-12 nopad mb10">
                                        <textarea class="form-control" ng-model="missionDetails.description" cols="5" id="description"></textarea>
                                    </div>
                                    <div class=" mt10">
                                        <h5 for="">Upload</h5>
                                        <div class=" nopad mb10">
                                            <input type="file" class="form-control" id="Upload">
                                        </div>
                                    </div>
                                    <a href="javascript:;" onclick="jQuery('#modal-4').modal('show', {backdrop: 'static'});" class=""><button class="btn btn-danger mb10 upload">Upload, <b>and process mosaic</b> </button></a>
                                </div></div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal fade" id="modal-4" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Uploaded Files</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Files</label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label class="status">Status</label>
                                                    <!-- <button class="btn btn-default">retry</button> -->
                                                </div>
                                            </div>
                                            <div class="row" ng-repeat="fl in missionDetails.files">

                                                <div class="col-md-6">
                                                    <p class="bg-muted file-p">
                                                        {{fl.file}}
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <!--<label for="">succes</label>-->
                                                    <button class="btn btn-default">retry</button>
                                                    <div class="col-md-6">
                                                        <div class="succes">
                                                            <label for="">succes</label>
                                                            <!-- <button class="btn btn-default">retry</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="mission-analyze.html" class="id-underline"><button type="button" class="btn btn-info"> Proceed</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>