<div class="page-container">
 <div class="page-title">
        <div class="title-env padd-b">
            <h1 class="title">Profile</h1>
          
        </div>
    </div>
        <!-- Responsive Table -->
        <div class="row">
            <div class="padd40">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body ">
                        <div class="padd-18">
                        <form class="" action="index.html" method="post">
                            <div class="member-form-add-header">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4 pull-right">
                                        <div class="action-buttons">
                                            <button type="submit" class="btn btn-block btn-secondary">Save Changes</button>
                                            <button type="reset" class="btn btn-block btn-gray">Reset to Default</button>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-8">
                                        <div class="user-img profile-img">
                                            <img src="http://themes.laborator.co/xenon/assets/images/user-4.png" class="img-circle" alt="user-pic" />
                                        </div>
                                        <div class="user-name">
                                            <a href="#">Jack Gates</a>
                                            <span>Administrator</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="organization" placeholder="Organization">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="number" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="Address" placeholder="Address">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="state" placeholder="State">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="website" placeholder="Website">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-sm-10 profile-input">
                                        <input type="email" class="form-control" id="Email" placeholder="Email">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="designation" placeholder="Designation">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="number" class="form-control" id="Mobile" placeholder="Mobile">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="text" class="form-control" id="city" placeholder="city">
                                    </div>
                                    <div class="col-sm-10 profile-input">
                                        <input type="number" class="form-control" id="Zip" placeholder="Zip">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                        <div class="col-md-3 btn-reset">
                            <div class="padd-b20">
                            <button class="btn btn-block btn-secondary" type="button" href="javascript:;" onclick="jQuery('#modal-6').modal('show', {backdrop: 'static'});"
                                class=" id-underline">Reset Password</button>
                        </div>
                        </div>
                    </div>
                    <div class="modal fade custom-width" id="modal-6">
                        <div class="modal-dialog" style="width: 40%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Reset Password</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="" action="index.html" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-sm-10 profile-input">
                                                    <label>Old Password</label> <input type="number" class="form-control"
                                                        id="phone" placeholder="Old Password">
                                                </div>
                                                <div class="col-sm-10 profile-input">
                                                    <label>New Password</label> <input type="number" class="form-control"
                                                        id="phone" placeholder="New Password">
                                                </div>
                                                <div class="col-sm-10 profile-input">
                                                    <label>Confirm Password</label> <input type="number" class="form-control"
                                                        id="phone" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="btn2 ">
                                                <span class="input-group-btn"> <button class="btn btn-info " type="button">Submit</button> </span>
                                                                                       </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Main Footer -->
    <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
    <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
    <!-- Or class "fixed" to  always fix the footer to the end of page -->

    </footer>
</div>
