 <div class="page-container">
        <div class="page-title">
                <div class="title-env">
                    <h1 class="title padd-b20">Settings</h1>
                </div>
            </div>
            <!-- Responsive Table -->
            <div class="row">
                <div class="col-md-12">
                      <div class="padd40">
                    <div class="panel panel-default padd40">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 request-button:hover">
                                    <button class="btn btn-primary create">General Settings</button>
                                </div>
                                <div class="col-md-6 col-md-push-3 request-button:hover">
                                    <button class="btn btn-primary create">User Profile Settings</button>
                                </div>
                           
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <h2>DFM Settings</h2>
                                    </div>
                                    <div class="">
                                        <table class="table table-bordered table-striped table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Available Plans:</th>
                                                    <th>Plan: Trial <br> Price: 0.00</th>
                                                    <th>Plan: Standard <br> Price: 99.00</th>
                                                    <th>Plan: PRO <br> Price: 199.00</th>
                                                </tr>
                                                <tr>
                                                    <th>Limit Name</th>
                                                    <th>Usage Limit</th>
                                                    <th>Used by you</th>
                                                    <th>Usage Limit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Invitations (per month)</td>
                                                    <td contenteditable="true">0</td>
                                                   <td contenteditable="true">15</td>
                                                    <td contenteditable="true">25</td>
                                                </tr>
                                                <tr>
                                                    <td>Missions (Total)</td>
                                                     <td contenteditable="true">20</td>
                                                     <td contenteditable="true">50</td>
                                                    <td contenteditable="true">100</td>
                                                </tr>
                                                <tr>
                                                    <td>Upload (max photos count)</td>
                                                      <td contenteditable="true">500</td>
                                                     <td contenteditable="true"> 500</td>
                                                     <td contenteditable="true">500</td>
                                                </tr>
                                                <tr>
                                                    <td>Upload (max size)</td>
                                                     <td contenteditable="true">4.9GB</td>
                                                    <td contenteditable="true">5GB</td>
                                                    <td contenteditable="true">10GB</td>
                                                </tr>
                                                <tr>
                                                    <td >Mosaic (per month)</td>
                                                    <td contenteditable="true">5</td>
                                                    <td contenteditable="true">10</td>
                                                    <td contenteditable="true">15</td>
                                                </tr>
                                                <tr>
                                                    <td>Mosaic (resolution cm/px)</td>
                                                    <td contenteditable="true">15</td>
                                                    <td contenteditable="true">15</td>
                                                    <td contenteditable="true">25</td>
                                                </tr>
                                                <tr>
                                                    <td>Export KMZ</td>
                                                    <td contenteditable="true">False</td>
                                                    <td contenteditable="true"> True</td>
                                                    <td contenteditable="true">True</td>
                                                </tr>
                                                <tr>
                                                    <td>Export Orthophoto</td>
                                                    <td contenteditable="true">True</td>
                                                    <td contenteditable="true">True</td>
                                                    <td contenteditable="true">True</td>
                                                </tr>
                                                <tr>
                                                    <td>Export DEM</td>
                                                    <td contenteditable="true">False</td>
                                                    <td contenteditable="true">True</td>
                                                    <td contenteditable="true">True</td>
                                                </tr>
                                                <tr>
                                                    <td>Export Point Cloud</td>
                                                    <td contenteditable="true">False0</td>
                                                    <td contenteditable="true">False</td>
                                                    <td contenteditable="true">True</td>
                                                </tr>
                                                <tr>
                                                    <td>Unlimited Used Apps</td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                Raw Image Store</li>
                                                            <li>Orthomosaic</li>
                                                            <li>Crop</li>
                                                            <li>3d Model</li>
                                                            <li>DEM</li>
                                                            <li>NDVI</li>
                                                            <li>Dvi</li>
                                                            <li>Topographic Map 1 Meter</li>
                                                            <li>Shapefile Export</li>
                                                            <li>Volume Calculator</li>
                                                            <li>KMZ Export</li>
                                                            <li>Point Cloud</li>
                                                            <li>Leaf Area Index</li>
                                                            <li>Management Zones</li>
                                                            <li>NGB False Color</li>
                                                            <li>Water Drainage Map</li>
                                                            <li>Emergence Uniformity
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>Raw Image Store</li>
                                                            <li>Orthomosaic</li>
                                                            <li>Crop</li>
                                                            <li>DEM</li>
                                                            <Li>NDVI</Li>
                                                            <li>Dvi</li>
                                                            <li>Topographic Map 1 Meter</li>
                                                            <li>Shapefile Export</li>
                                                            <li>Volume Calculator</li>
                                                            <li>KMZ Export</li>
                                                            <li>3d model</li>
                                                            <li>3d PDF</li>
                                                            <li>Point Cloud</li>
                                                            <li>Leaf Area Index</li>
                                                            <li>Management Zones</li>
                                                            <li>Emergence Uniformity</li>
                                                            <li>Ground Refinement Points(GRP)</li>
                                                        </ul>
                                                        <!--<button class="btn btn-primary create">UPGRADE NOW!</button>-->
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>Raw Image Store</li>
                                                            <li>Orthomosaic</li>
                                                            <li>Crop</li>
                                                            <li>DEM</li>
                                                            <Li>NDVI</Li>
                                                            <li>Dvi</li>
                                                            <li>Topographic Map 1 Meter</li>
                                                            <li>Shapefile Export</li>
                                                            <li>Volume Calculator</li>
                                                            <li>KMZ Export</li>
                                                            <li>3d model</li>
                                                            <li>3d PDF</li>
                                                            <li>Point Cloud</li>
                                                            <li>Leaf Area Index</li>
                                                            <li>Management Zones</li>
                                                            <li>(GRP)</li>
                                                            <li>NGB False Color</li>
                                                            <li>Water Drainage Map</li>
                                                            <li>Emergence Uniformity</li>
                                                            <li>Ground Refinement Points(GRP)</li>
                                                            <li>Weedspray</li>
                                                        </ul>
                                                        <!--<button class="btn btn-primary create">UPGRADE NOW!</button>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 col-md-push-5">
                                        <button class="btn btn-primary create">SAVE CHANGES</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    </div>
    <!-- End: Footer Sticked Chat -->
    </div>
  