<div class="page-container ">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight  ">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h2> Ticket History </h2>
                    <ol class="breadcrumb">
                        <li> <a href="#/dashboard1">Home</a> </li>
                        <li> <a>Ticket History </a> </li>
                        <li class="active"> <strong>Ticket History</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content ">
                <table class="table table-responsive">
                    <tr>
                        <td> Ticket Subject</td>
                        <td>:</td>
                        <td>{{ticketData.subject}}</td>
                    </tr>

                    <tr>
                        <td> Issue</td>
                        <td>:</td>
                        <td>{{ticketData.description}}</td>
                    </tr>
                    <tr>
                        <td>Reply</td>
                        <td>:</td>
                        <td>
                            <div class="note-editor  panel panel-default">
                                <div>
                                    <div summernote class="summernote" ng-model="ticketData.reply">
                                    </div>

                                </div>
                            </div>
                            <div class="pull-right">
                                <button class="btn green" type="submit" ng-click="saveReply(ticketData)"> <i class="fa fa-check"></i> Submit</button>
                                <button class="btn default" type="button">Cancel</button>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>