<div class="page-container " ng-if="accessLevel=='User'">
	<!-- Start page content wrapper -->
	<div class="page-content-wrapper animated fadeInRight  ">
		<div class="page-content">
			<div class="row wrapper border-bottom page-heading">
				<div class="col-lg-12">
					<h2> Ticket History </h2>
					<ol class="breadcrumb">
						<li> <a href="#/dashboard1">Home</a> </li>
						<li> <a>Ticket History </a> </li>
						<li class="active"> <strong>Ticket History</strong> </li>
					</ol>
				</div>
			</div>
			<div class="wrapper-content ">
				<table class="table table-responsive">
					<tr>
						<td> Ticket Subject</td>
						<td>:</td>
						<td>{{ticket.subject}}</td>
					</tr>

					<tr>
						<td> Issue</td>
						<td>:</td>
						<td>{{ticket.description}}</td>
					</tr>


					<tr>
						<td>Reply</td>
						<td>:</td>
						<td>{{ticket.reply}}</td>
					</tr>

				</table>


			</div>


		</div>
	</div>
</div>