<div class="page-container ">
		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight  ">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-lg-12">
						<h2> User Details</h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a> User Details </a> </li>
							<li class="active"> <strong>User Details</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content  text-center"> 
					<div class="col-lg-12">
						<div class="col-lg-6" style="padding-top:10px">
							<table class="table table-responsive" >
							<tr><h2 style="color:#29aba4">DFM INFORMATION</h2></tr>
								<tr>
									<td>Activation Date</td>
									<td>:</td>
									<td>08/30/2017</td>
								</tr>
								<tr>
									<td>Expiration Date</td>
									<td>:</td>
									<td>10/29/2017</td>
								</tr>
								<tr>
									<td>Current Plan</td>
									<td>:</td>
									<td> DFM Standard</td>
								</tr>
								
								<tr>
									<td>Current Plan Missions</td>
									<td>:</td>
									<td> 1/3</td>
								</tr>
								
								<tr>
									<td>Current Plan Uploads</td>
									<td>:</td>
									<td> 100 MB / 1 GB</td>
								</tr>
								<tr>
									<td>Current Plan Photo Uploads</td>
									<td>:</td>
									<td>500/1000</td>
								</tr>
								<tr>
									<td>Total Missions Created</td>
									<td>:</td>
									<td> 10</td>
								</tr>
								
								
								<tr>
									<td>Total CAD Requests</td>
									<td>:</td>
									<td>6</td>
								</tr>
								<tr>
									<td>Drone Bought</td>
									<td>:</td>
									<td>Yes/No</td>
								</tr>
								
							</table>
							
						</div>
						
						<div class="col-lg-6" style="padding-top:10px">
							<table class="table table-responsive" >
							<tr><h2 style="color:#29aba4">ACCOUNT INFORMATION</h2></tr>
								<tr>
									<td>Address</td>
									<td>:</td>
									<td>A-101,Lazy lane</td>
								</tr>
								<tr>
									<td>City</td>
									<td>:</td>
									<td>NewYork</td>
								</tr>
								<tr>
									<td>State</td>
									<td>:</td>
									<td>NY</td>
								</tr>
								<tr>
									<td>Company</td>
									<td>:</td>
									<td>TipTop</td>
								</tr>
								<tr>
									<td>User Status</td>
									<td>:</td>
									<td> Activate
										<div class="btn-group" uib-dropdown is-open="status.isopen"><span style="color:red;font-size:16px">
                                            <i class="fa fa-pencil" uib-dropdown-toggle ng-disabled="disabled">
												</i></span>
											</button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                                <li role="menuitem"><a href="javascript:void(0)">Activate</a></li>
                                                <li role="menuitem"><a href="javascript:void(0)">Deactivate</a></li>
                                                <li role="menuitem"><a href="javascript:void(0)">Suspended</a></li>
                                                
                                            </ul>
                                        </div>
									</td>
									
									
								</tr>
								
							</table>
							
						</div>
						
						
					</div>
					<div class="col-lg-12">
						<div class="col-lg-6" style="padding-top:10px">
							<table class="table table-responsive" >
							<tr><h2 style="color:#29aba4">PAYMENT INFORMATION</h2></tr>
								<tr>
									<td>Active Coupon Code or Discount:</td>
									<td>:</td>
									<td>123456</td>
								</tr>
								<tr>
									<td>Name on Card</td>
									<td>:</td>
									<td>Joy Smith</td>
								</tr>
								<tr>
									<td>Card Number</td>
									<td>:</td>
									<td> XXXX-XXXX-XXXX-XXXX</td>
								</tr>
								<tr>
									<td>Outstanding</td>
									<td>:</td>
									<td>$ 0000</td>
								</tr>
								
							</table>
							
						</div>
						
						<div class="col-lg-6" style="padding-top:10px">
							<table class="table table-responsive" >
							<tr><h2 style="color:#29aba4">REVENUE INFORMATION</h2></tr>
								<tr>
									<td>Drones</td>
									<td>:</td>
									<td>$ 8499</td>
								</tr>
								<tr>
									<td>CAD Requests</td>
									<td>:</td>
									<td>$ 300</td>
								</tr>
								<tr>
									<td>DFM</td>
									<td>:</td>
									<td> $ 221</td>
								</tr>
								
							</table>
							
						</div>
						
						
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	