<div class="page-container ">
	<!-- Start page content wrapper -->
	<div class="page-content-wrapper animated fadeInRight  ">
		<div class="page-content">
			<div class="row wrapper border-bottom page-heading">
				<div class="col-lg-12">
					<h2> User Details</h2>
					<ol class="breadcrumb">
						<li> <a href="#/dashboard1">Home</a> </li>
						<li> <a> User Details </a> </li>
						<li class="active"> <strong>User Details</strong> </li>
					</ol>
				</div>
			</div>
			<div class="wrapper-content  text-center">
				<div class="col-lg-12">
					<div class="col-lg-6" style="padding-top:10px">
						<table class="table table-responsive">
							<tr>
								<h2 style="color:#29aba4">DFM INFORMATION</h2>
							</tr>
							<tr>
								<td>Activation Date</td>
								<td>:</td>
								<td>{{dfmData.currentSubscription.updatedAt | date: 'dd-MM-yyyy'}}
								</td>
							</tr>
							<tr>
								<td>Expiration Date</td>
								<td>:</td>
								<td>{{dfmData.currentSubscription.expiryDate| date: 'dd-MM-yyyy'}}
								</td>
							</tr>
							<tr>
								<td>Current Plan</td>
								<td>:</td>
								<td> {{dfmData.currentSubscription.name}}</td>
							</tr>
							<tr>
								<td>Current Plan Missions</td>
								<td>:</td>
								<td> {{dfmData.currentSubscription.missions}}</td>
							</tr>
							<tr>
								<td>Current Plan Uploads</td>
								<td>:</td>
								<td> {{dfmData.currentSubscription.UploadSize}}</td>
							</tr>
							<tr>
								<td>Current Plan Photo Uploads</td>
								<td>:</td>
								<td>{{dfmData.currentSubscription.UploadPhoto}}</td>
							</tr>
							<tr>
								<td>Total Missions Created</td>
								<td>:</td>
								<td>{{totalMission}} </td>
							</tr>
							<tr>
								<td>Total CAD Requests</td>
								<td>:</td>
								<td>{{totalCadReq}}</td>
							</tr>
							<tr>
								<td>Drone Bought</td>
								<td>:</td>
								<td>Yes/No</td>
							</tr>
						</table>
					</div>
					<div class="col-lg-6" style="padding-top:10px">
						<table class="table table-responsive">
							<tr>
								<h2 style="color:#29aba4">ACCOUNT INFORMATION</h2>
							</tr>
							<tr>
								<td>Address</td>
								<td>:</td>
								<td>{{dfmData.address}}</td>
							</tr>
							<tr>
								<td>City</td>
								<td>:</td>
								<td>{{dfmData.city}}</td>
							</tr>
							<tr>
								<td>State</td>
								<td>:</td>
								<td>{{dfmData.state}}</td>
							</tr>
							<tr>
								<td>Company</td>
								<td>:</td>
								<td>{{dfmData.country}}</td>
							</tr>
							<tr>
								<td>User Status</td>
								<td>:</td>
								<td>
									<div class="access-select">
										<select uib-dropdown-menu role="menu" ng-model="dfmData.status" ng-click="setStatus(dfmData)" aria-labelledby="single-button"
										    class="fa fa-pencil">
											<option role="menuitem" value="Activate" ><a href="javascript:void(0)">Activate</a></option>
											<option role="menuitem" value="Deactivate"><a href="javascript:void(0)">Deactivate</a></option>
											<option role="menuitem" value="Suspended"><a href="javascript:void(0)">Suspended</a></option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td>Access Level</td>
								<td>:</td>
								<td>
									<div class="access-select">
										<select uib-dropdown-menu role="menu" ng-model="dfmData.accessLevel" ng-click="setAccLevel(dfmData)" aria-labelledby="single-button"
										    class="fa fa-pencil">
											<option role="menuitem" value="User" ><a href="javascript:void(0)">User</a></option>
											<option role="menuitem" value="Admin"><a href="javascript:void(0)">Admin</a></option>
											<option role="menuitem" value="Vendor"><a href="javascript:void(0)">Vendor</a></option>
										</select>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6" style="padding-top:10px">
						<table class="table table-responsive">
							<tr>
								<h2 style="color:#29aba4">PAYMENT INFORMATION</h2>
							</tr>
							<tr>
								<td>Active Coupon Code or Discount:</td>
								<td>:</td>
								<td></td>
							</tr>
							<tr>
								<td>Name on Card</td>
								<td>:</td>
								<td></td>
							</tr>
							<tr>
								<td>Card Number</td>
								<td>:</td>
								<td></td>
							</tr>
							<tr>
								<td>Outstanding</td>
								<td>:</td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="col-lg-6" style="padding-top:10px">
						<table class="table table-responsive">
							<tr>
								<h2 style="color:#29aba4">REVENUE INFORMATION</h2>
							</tr>
							<tr>
								<td>Drones</td>
								<td>:</td>
								<td></td>
							</tr>
							<tr>
								<td>CAD Requests</td>
								<td>:</td>
								<td></td>
							</tr>
							<tr>
								<td>DFM</td>
								<td>:</td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>