<!--<div class="page page-core page-login">

    <div class="text-center">
        <h3 class="text-light text-white"><span class="text-lightred">Unifli</span></h3>
    </div>
    <div class="row">
        <p ng-if="loginValidation != null" class="text-center" style="color:#d55a6a">{{loginValidation}}</p>
    </div>
    <div class="container w-420 p-15 bg-white mt-40 text-center">


        <h2 class="text-light text-greensea">Log In</h2>

        <form name="form" class="form-validation mt-20" novalidate>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="user.name" required>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" ng-model="user.password" required>
            </div>

            <div class="form-group text-left mt-20">
                <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-click="login(user)" ng-disabled='form.$invalid'>Login</button>-->
<!--<label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
          <input type="checkbox"><i></i> Remember me
        </label>-->
<!--<a ui-sref="core.forgotpass" class="pull-right mt-10">Forgot Password?</a>-->
<!--</div>
        </form>
    </div>

</div>-->
<div>
    <div class="middle-box text-center loginscreen">
        <div class="widgets-container">
            <div>
                <img class="logo-default doneLoading" alt="logo" src="img/productDetail/unifli.png" class="img-responsive">
            </div>
            <h3>Welcome to UNIFLI</h3>

            <form class="top15">
                <div class="form-group">
                    <input type="text" ng-model="data.name1" required="" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="data.password1" required="" placeholder="Password" class="form-control">
                </div>
                <button class="btn green block full-width bottom15" type="submit" ng-click="loginUser(data)">Login</button>
                <p> <a href="" ng-click="forgotPassword()">Forgot password?</a></p>
                <!--<p> <a href="">Forgot password?</a></p>-->
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <!--<a href="#/register" class="btn btn-sm btn-white btn-block">Create an account</a>-->
            </form>
        </div>
    </div>
</div>