<div class="page-sidebar-wrapper">
  <div class="page-sidebar">
    <ul class="page-sidebar-menu  page-header-fixed ">
      <li class="sidebar-search-wrapper">
        <!-- START RESPONSIVE SEARCH FORM -->
        <form class="sidebar-search  " action="search_results" method="POST">
          <a href="javascript:;" class="remove"> <i class="icon-close"></i> </a>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn"> <a href="javascript:;" class="btn submit"> <i class="icon-magnifier"></i> </a> </span>            </div>
        </form>
        <!-- END RESPONSIVE SEARCH FORM -->
      </li>
      <li ng-repeat="menu in navigation" class="nav-item" ui-sref-active="active">
        <!--<pre>{{menu | json}}</pre>-->
        <a ng-if="menu.sref" ui-sref="{{menu.sref}}" class="nav-link"><i class="fa fa-{{menu.icon}}"></i> <span>{{menu.name}}</span></a>
        <a ng-if="menu.sref == ''" class="o-i" class="nav-link"><i class="fa fa-{{menu.icon}}"></i> <span>{{menu.name}}</span></a>

        <!--<ul ng-if="menu.subnav!='';">
          <li ng-repeat="submenu in menu.subnav" class="nav-item">
            <a ui-sref="{{submenu.sref}}" ng-if="submenu.sref"><i class="ln-{{submenu.icon}}"></i> <span>{{submenu.name}}</span></a>
            <a href="{{submenu.link}}" ng-if="submenu.link"><i class="ln-{{submenu.icon}}"></i> <span>{{submenu.name}}</span></a>
          </li>
        </ul>-->
        <!--<div class="border-bottom">
        </div>-->
      </li>

    </ul>
  </div>
</div>