<style>

.text-center {
    text-align: center;
}
img {
    vertical-align: middle;
    height: 100px;
    width: 200px;
}
.text-navy {
    color: #29aba4;
    font-size:24px;
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}
table-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

#parent {
  display: flex;
}
#narrow {
  width: 200px;
 
}
#wide {
  flex: 1;
  
}
</style>











<div class="page-container ">
    
     <!-- Start page content wrapper -->
     <div class="page-content-wrapper animated fadeInRight  ">
       <div class="page-content" >
         <div class="wrapper-content ">
           <div class="wrapper-content ">
             <div class="widgets-container ">
               <div class="clearfix">
                 <div class="text-center"> <img src="123.png" alt=""> </div>
                 <h2 class="text-navy">Invoice No :#12345</h2>
              

               <div id="parent">
                <div id="wide">
                    <table>
                        <tr>
                          <td>Organization Name:</td>
                        </tr>
                        <tr>
                          <td>Address :A-102,Florida</td>
                        </tr>
                        <tr>
                          <td>Phone :(602) 519-0450</td>
                        </tr>
                      </table>
                    </div>
                <div id="narrow">
                    <table>
                        <tr>
                          <td>Invoice Date : 08/17/2016</td>
                        </tr>
                        <tr>
                          <td>Due Date :09/17/2016</td>
                        </tr>
                        <tr>
                          <td>Status :Paid / Unpaid</td>
                        </tr>
                      </table>
                </div>
              </div>
               <main>
               </br></br></br></br>
                 <div>
                   <table style="border:1px solid #29aba4; width:100%">
                     <thead>
                       <tr>
                         <th style="border:1px solid #29aba4; width:33%">PRODUCT</th>
                         <th style="border:1px solid #29aba4; width:33%">DESCRIPTION</th>
                         <th style="border:1px solid #29aba4; width:33%">PRICE</th>
                       </tr>
                     </thead>
                     <tbody style="text-align:center">
                       <tr>
                         <td style="border:1px solid #29aba4; width:33%">DRONE</td>
                         <td style="border:1px solid #29aba4; width:33%">FC-250</td>
                         <td style="border:1px solid #29aba4; width:33%">$8499.00</td>
                       </tr>
                       
                     </tbody>
                   </table>
                   <table style="text-align:right;width:100%"">
                     <tbody>
                       
                       <tr>
                         <td colspan="4"><strong></strong>TOTAL :</strong></strong>  $8499</td>
                        
                       </tr>
                     </tbody>
                   </table>
                   
                 </div>
                </br>
                 <div id="notices">
                     <div style="color:#29aba4">Thank you for Business with UNIFLI ..!</div>
                   
                 </div>
                </br></br>
                 <div>Terms & Conditions:
                 
                     <li style="margin-left:20px">A finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
                     <li style="margin-left:20px">A finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
                     <li style="margin-left:20px">A finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
                     <li style="margin-left:20px">A finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
                     <li style="margin-left:20px">A finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
                     </br>
                 </div>
               </main>
               <div>Note : Invoice was created on a computer and is valid without the signature and seal. </div>
             </div>
           </div>
         </div>
         
   
   </div>
   </div>
   </div>
   
   