<!DOCTYPE html>
<html lang="en" ng-app="firstapp">

<head ng-controller="headerctrl">
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" href="frontend/img/favicon.ico" />

    <title ng-bind="'Unifli | '+template.title">
        <%= ((typeof title) == "undefined") ? "Unifli" : title  %>
    </title>

    <!--[if IE]> <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script> <![endif]-->
    <!--[if IE]> <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script> <![endif]-->
    
</head>

<body>
    <div class="repeated-item" ui-view></div>
    <link rel="stylesheet" type="text/css" href="frontend/css/main.css" />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.19.0/mapbox-gl-draw.css' type='text/css' />

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.19.0/mapbox-gl-draw.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js'></script>
<script src='https://cdn.jsdelivr.net/npm/icheck@1.0.2/icheck.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.8/js/utils.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.js"></script>

    <script>
        var adminurl = "<%= ((typeof adminurl) == "undefined") ? "" : adminurl  %>";
         var realhosturl = "<%= ((typeof realhosturl) == "undefined") ? "" : realhosturl  %>";
        var isproduction = true;
        var chintan = function(content) {
            console.log("%c ---------------------------------------", 'background: #222; color: #bada55');
            console.log(content);
            console.log("%c ---------------------------------------", 'background: #222; color: #bada55');
        };
    </script>
    <% _.each(jsFiles,function(file) {  %>
        <script src="frontend/js/<%= file %>"></script>
        <% }); %>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGSUwk7KdhoDlwzq7CSpeJDcOjKzu-xRA&sensor=false&libraries=geometry,drawing,places&callback=initMap"
    async defer></script>

</body>

</html>
