<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 shipping">
      <div>
        <div class="outerborder mar-t mar-b">
          <div class="shipping-pay">
            <h3>Shipping and Payment </h3>
            <h3>Information</h3>
          </div>
          <div class="text-center">
            <h3>Cart Total:$4560</h3>
          </div>

          <form name="formName">
            <div class="row">
              <div class="col-md-6">

                <div class="border-bottom">
                  <p class="pull-right">*Fields are required</p>
                  <h3>Address on File</h3>

                </div>
                <div class="padd30">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group" ng-class="{'form-invalid': formName.name.$invalid && formName.name.$touched}">
                        <label>First Name* </label>
                        <input type="text" name="name" class="form-control" ng-model="formData.address.firstName" required>
                        <span class="errormsg" ng-show="formName.name.$touched && formName.name.$invalid">The name is required.</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group" ng-class="{'form-invalid': formName.lname.$invalid && formName.lname.$touched}">
                        <label>Last Name* </label>
                        <input type="text" name="lname" class="form-control" ng-model="formData.address.lastName" required>
                        <span class="errormsg" ng-show="formName.lname.$touched && formName.lname.$invalid">The last name is required.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" ng-model="formData.address.company" placeholder="Company name">
                  </div>
                  <div class="form-group" ng-class="{'form-invalid': formName.address1.$invalid && formName.address1.$touched}">
                    <label>Street Address* </label>
                    <input type="text" name="address1" class="form-control" ng-model="formData.address.shippingAddress.address" placeholder="Street Address c/o"
                      required>
                    <span class="errormsg" ng-show="formName.address1.$touched && formName.address1.$invalid">The Street Address* name is required.</span>
                  </div>
                  <div class="form-group">
                    <label>Apartment/suite</label>
                    <input type="text" class="form-control" ng-model="formData.address.shippingAddress.streetAddress" placeholder="Apt, suit, (optional)">
                    <label>Please note that we cannot ship to a PO Box</label>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="city ">City*</label>
                      <div class="form-group ">
                        <input type="text" ng-change="autoLocation()" class="form-control" id="locationCity" ng-model="formData.address.shippingAddress.city">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label for="zip ">Zip Code</label>
                        <input type="text " class="form-control " ng-model="formData.address.shippingAddress.zip">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label for="country ">Country</label>
                        <input type="text " ng-readonly="true" class="form-control " ng-model="formData.address.shippingAddress.country" aria-label="Readonly field">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label for="state ">State</label>
                        <input type="text " ng-readonly="true" class="form-control " ng-model="formData.address.shippingAddress.state" aria-label="Readonly field">
                      </div>
                    </div>

                  </div>


                  <div class="form-group" ng-class="{'form-invalid': formName.phonenumber.$invalid && formName.phonenumber.$touched}">
                    <label>Phone Number* </label>
                    <input type="text" name="phonenumber" class="form-control" ng-model="formData.address.phonenumber" required>
                    <span class="errormsg" ng-show="formName.phonenumber.$touched && formName.phonenumber.$invalid">This Phone Number is required.</span>
                  </div>
                </div>


                <div class="shipping-checkbox checkbox-font">
                  <label>Billing Address Same as Shipping?</label> <input type="checkbox" id="agree" ng-click="setShippingAddress(formData.address)">
                </div>
              </div>

              <div class="col-md-6">


                <div class="border-bottom">
                  <p class="pull-right">*Fields are required</p>
                  <h3>Shipping Address </h3>

                </div>
                <div class="padd30">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="text">First Name*</label>
                        <input type="text" class="form-control" ng-model="formData.shippingAddress.name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="text">Last Name*</label>
                        <input type="text" class="form-control" ng-model="formData.shippingAddress.lname">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" ng-model="formData.shippingAddress.company" placeholder="Company name">
                  </div>
                  <div class="form-group">
                    <label for="address">Street Address*</label>
                    <input type="text" class="form-control" ng-model="formData.shippingAddress.address1" placeholder="Street Address c/o">
                  </div>
                  <div class="form-group">
                    <label>Apartment/suite</label>
                    <input type="text" class="form-control" ng-model="formData.shippingAddress.apartment" placeholder=" Apt, suit, (optional) ">
                    <label>Please note that we cannot ship to a PO Box</label>
                  </div>
                  <div class="row ">
                    <div class="col-md-6 ">
                      <div class="form-group ">
                        <label for="city ">City*</label>
                        <input type="text " class="form-control " ng-model="formData.shippingAddress.city">
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="form-group ">
                        <label for="zip ">Zip Code*</label>
                        <input type="text " only-Digits class="form-control " ng-model="formData.shippingAddress.zipCode">
                      </div>
                    </div>

                  </div>
                  <div class="row ">
                    <div class="col-md-6 ">
                      <div class="form-group ">
                        <label for="country ">Country</label>
                        <input type="text " ng-readonly="true" class="form-control " ng-model="formData.shippingAddress.country" aria-label="Readonly field">
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="form-group ">
                        <label for="state ">State</label>
                        <input type="tel " class="form-control " ng-model="formData.shippingAddress.state">
                      </div>
                    </div>

                  </div>


                  <div class="form-group">
                    <label>Phone Number* </label>
                    <input type="text" name="phonenumber" class="form-control" ng-model="formData.shippingAddress.phonenumber">
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center ">
              <button class="btn btn-default btn-gray btn-size ">Back</button>
              <button type="button " class="btn btn-primary btn-size " ng-click="saveData(formData.address)">Save & Continue</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--//timeline-->